.body{
    font-size: 15pt;
    overflow: hidden;
}
.title{
    position: relative;
    bottom: 20px;
    left: 1%;
}

.button
{
    background-color: green;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 26px;
    position: absolute;
    left: 7%;
    top: 250px;
}
.button:hover{
    color: green;
    background:darkgreen;
}
.req{
    color: white;
    font-family: sans-serif;
    position: absolute;
    left: 7%;
    top: 280px;
}
.video{
    position: absolute;
    left: 70%;
    top: 80px;
}
.info{
    color: white;
    font-family: sans-serif;
    position: absolute;
    left: 7%;
    top: 340px;
}